<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.laotang.quickdev.logcat">

    <application>
        <activity
            android:name=".LogcatActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTop"
            android:screenOrientation="behind" />
        <activity
            android:name=".LogcatPortraitActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".LogcatLandscapeActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTop"
            android:screenOrientation="landscape" />
    </application>
</manifest>