<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.laotang.quickdev.aroutercalladapter">

    <application>
        <activity
            android:name=".RxARouterActivity"
            android:screenOrientation="behind"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
    </application>
</manifest>
